# Employee Data Processing with PySpark

In [29]:
from pyspark.sql.functions import col, when, lit, to_date, expr, col, add_months, array, avg, collect_list, collect_set
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, IntegerType, DoubleType, BooleanType, StructField, StructType

For **58 KB of data**, the processing requirements are very minimal. You don't need a large Spark cluster or heavy resource allocation. Here's the **optimal Spark configuration** for efficiently handling such a small dataset:

---

### **ðŸ“Œ Recommended Spark Config for 58 KB Data**
```bash
spark-submit \
  --conf spark.executor.instances=1 \
  --conf spark.executor.cores=1 \
  --conf spark.executor.memory=512m \
  --conf spark.executor.memoryOverhead=256m \
  --conf spark.driver.memory=1g \
  --conf spark.sql.shuffle.partitions=2 \
  --conf spark.dynamicAllocation.enabled=false
```

---

### **ðŸ“– Explanation of Configurations:**
| **Parameter** | **Value** | **Why?** |
|--------------|----------|----------|
| `spark.executor.instances=1` | 1 Executor | You donâ€™t need multiple executors for such a small dataset. |
| `spark.executor.cores=1` | 1 Core | Single-core processing is sufficient for 58 KB. |
| `spark.executor.memory=512m` | 512MB Memory | More than enough memory to process 58 KB. |
| `spark.executor.memoryOverhead=256m` | 256MB | Small overhead for additional tasks. |
| `spark.driver.memory=1g` | 1GB | Since Spark operates in local mode, the driver needs some memory. |
| `spark.sql.shuffle.partitions=2` | 2 Partitions | Default is 200, which is overkill for 58 KB; reducing to 2 speeds up processing. |
| `spark.dynamicAllocation.enabled=false` | Disabled | No need for dynamic scaling for small data. |

---

### **ðŸ”¥ Additional Optimizations**
- **Run in local mode** (since data is tiny):
  ```bash
  spark-submit --master local[1] <your_script.py>
  ```

# Data Ingestion
- Load employee data from CSV/Parquet.
- Define schema using StructType.
- Read the data into a Spark DataFrame

In [30]:
# creating spark session for this application

spark = SparkSession.builder.appName("Employeee").config("spark.master", "local[*]").config("spark.executor.instances", "1").config("spark.driver.memory","512m").config("spark.executor.core","1").config("spark.executor.memoryOverhead","256m").config("spark.sql.shuffle.partitions","2").config("spark.dynamicAllocation.enabled","false").getOrCreate()

In [31]:
#define the srcture of the columns
schema = StructType([
    StructField("First_Name", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Start_Date", StringType(), True),
    StructField("Last_login_Time", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Bonus", DoubleType(), True),
    StructField("Senior_Management", BooleanType(), True),
    StructField("Team", StringType(), True),
])
df = spark.read.format("csv").option('header', "true").schema(schema).load("/mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv")

In [32]:
df.show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+
|First_Name|Gender|Start_Date|Last_login_Time|Salary| Bonus|Senior_Management|                Team|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308| 6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|  4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590|11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|  9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004| 1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163|10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476|10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906|11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570|18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852| 7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241|15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508|12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807|17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831| 5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426|14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414| 1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370| 7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737| 6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940|19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014| 1.894|            false|             Product|
+----------+------+----------+---------------+------+------+-----------------+--------------------+
only showing top 20 rows

25/02/05 04:59:07 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

# Data Cleaning & Transformation
- Convert Start Date and Last Login Time to proper date formats.
- Handle missing values (fillna for Salary, Bonus %, etc.).
- Remove duplicates.

In [33]:
# Convert date columns to DateType

# ===================== about to_date function
# Converts a ~pyspark.sql.Column into pyspark.sql.types.DateType 
# using the optionally specified format. Specify formats according to datetime pattern_.
# By default, it follows casting rules to pyspark.sql.types.DateType if the format is omitted. 
# Equivalent to col.cast("date").

df = df.withColumn("Formatted_Start_Date", to_date(df["Start_Date"], "M/d/yyyy")).fillna({"Bonus":0.0,"Salary":0, "Team":"Unknown", "Senior_Management":False})
df = df.drop_duplicates(list(df.columns))

# Feature Engineering
- Calculate Total Earnings (Salary + Bonus).
- Add a Probation End Date (Start Date + 3 months).
- Generate Full Name as an array column.

In [34]:
# df.withColumn("Total_Earning", expr("Salary + Bonus")).show()
# or
df = df.withColumn("Total_Earning", col("Salary") + (col("Salary") * col("Bonus") / 100))
df = df.withColumn("last_Probation", add_months(to_date(df['start_date'], 'M/d/yyyy'), 3))
df = df.withColumn("Full_name", array("First_Name", "Team"))

# Data Aggregation
- Calculate average salary per team.
- Collect team members using collect_list().
- Collect unique team members using collect_set().

In [35]:
df_aggregated  = df.groupBy("Team").agg(
    avg(df['salary']).alias("avg_Salary"),
    collect_list("First_Name").alias("Team_Members"),
    collect_set("First_Name").alias("Unique_Team_Members")
)

# df.groupBy("Team").agg(avg("Salary").alias("Avg Salary"))

In [36]:
df_final = df.join(df_aggregated, on="Team", how="left")

# Performance Optimization
- Cache DataFrame to avoid recomputation.
- Reduce shuffle partitions for small datasets (spark.sql.shuffle.partitions).

In [37]:
# Cache the DataFrame to optimize repeated operations
df_final.cache()

# Reduce shuffle partitions for small data
spark.conf.set("spark.sql.shuffle.partitions", "2")

25/02/05 04:59:07 WARN CacheManager: Asked to cache already cached data.

# Unit Testing for Data Quality
- Check for duplicate records.
- Check for null values in key columns.
- Ensure salary is non-negative.

In [38]:
df_final.columns

['Team',
 'First_Name',
 'Gender',
 'Start_Date',
 'Last_login_Time',
 'Salary',
 'Bonus',
 'Senior_Management',
 'Formatted_Start_Date',
 'Total_Earning',
 'last_Probation',
 'Full_name',
 'avg_Salary',
 'Team_Members',
 'Unique_Team_Members']

In [44]:
# Check for duplicate records
df_duplicates = df_final.groupBy(df_final.columns).count().filter(col("count") > 1)
assert df_duplicates.count() == 0, "Duplicates found in data!"

# Check for null values in key columns
assert df_final.filter(col("First_Name").isNull()).count() == 0, "Null values found in First Name!"
assert df.filter(col("Salary").isNull()).count() == 0, "Null values found in Salary!"

# # Check if salary is non-negative
assert df.filter(col("Salary") < 0).count() == 0, "Negative salaries found!"

25/02/05 04:59:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv
25/02/05 04:59:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

AssertionError: Null values found in First Name!

In [46]:
df.filter(col("First_Name").isNull()).show()

+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------------+-------------+--------------+--------------------+
|First_Name|Gender|Start_Date|Last_login_Time|Salary| Bonus|Senior_Management|                Team|Formatted_Start_Date|Total_Earning|last_Probation|           Full_name|
+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------------+-------------+--------------+--------------------+
|      null|Female| 7/20/2015|       10:43 AM| 45906|11.598|            false|             finance|          2015-07-20|  51230.17788|    2015-10-20|     [null, Finance]|
|      null|  Male| 8/21/1998|        2:27 PM|122340| 6.417|            false|             unknown|          1998-08-21|  130190.5578|    1998-11-21|     [null, Unknown]|
|      null|  Male| 1/29/2016|        2:33 AM|122173| 7.797|            false|     client services|          2016-01-29| 131698.82881|    2016-04-29|[null, Client Ser...|
|      null|Female| 6/12/2007|        5:25 PM| 58112|19.414|            false|           marketing|          2007-06-12|  69393.86368|    2007-09-12|   [null, Marketing]|
|      null|  Male| 6/22/1991|        8:58 PM| 76189|18.988|            false|               legal|          1991-06-22|  90655.76732|    1991-09-22|       [null, Legal]|
|      null|Female| 10/3/1990|        1:08 AM|132373|10.527|            false|             unknown|          1990-10-03| 146307.90571|    1991-01-03|     [null, Unknown]|
|      null|Female| 8/17/2014|        2:00 PM| 86230| 8.578|            false|        distribution|          2014-08-17|   93626.8094|    2014-11-17|[null, Distribution]|
|      null|  null| 9/18/2007|        6:59 PM| 40297| 6.185|            false|     client services|          2007-09-18|  42789.36945|    2007-12-18|[null, Client Ser...|
|      null|Female| 2/23/2005|        9:50 PM|149654| 1.825|            false|               sales|          2005-02-23|  152385.1855|    2005-05-23|       [null, Sales]|
|      null|  null| 4/28/2003|        3:01 AM|113732|10.391|            false|               sales|          2003-04-28| 125549.89212|    2003-07-28|       [null, Sales]|
|      null|  Male|11/25/1999|        6:16 AM| 42676|15.517|            false|               sales|          1999-11-25|  49298.03492|    2000-02-25|       [null, Sales]|
|      null|Female|  8/2/1992|        8:35 PM|145316|18.517|            false|     human resources|          1992-08-02| 172224.16372|    1992-11-02|[null, Human Reso...|
|      null|Female|  7/8/2008|       11:40 PM| 62960|14.356|            false|               sales|          2008-07-08|   71998.5376|    2008-10-08|       [null, Sales]|
|      null|  Male| 1/27/2010|        2:57 AM| 87760|14.987|            false|         engineering|          2010-01-27|  100912.5912|    2010-04-27| [null, Engineering]|
|      null|  Male| 10/9/2011|        9:29 AM| 69906| 4.844|            false|         engineering|          2011-10-09|  73292.24664|    2012-01-09| [null, Engineering]|
|      null|Female|12/31/2006|       11:02 PM| 81444| 3.171|            false|        distribution|          2006-12-31|  84026.58924|    2007-03-31|[null, Distribution]|
|      null|Female| 9/18/2002|       12:39 PM|118906| 4.537|            false|           marketing|          2002-09-18| 124300.76522|    2002-12-18|   [null, Marketing]|
|      null|  Male| 6/29/2008|        5:23 AM|111043| 5.966|            false|        distribution|          2008-06-29| 117667.82538|    2008-09-29|[null, Distribution]|
|      null|  Male| 5/24/2016|        9:17 PM| 76409| 7.008|            false|        distribution|          2016-05-24|  81763.74272|    2016-08-24|[null, Distribution]|
|      null|Female| 4/27/2013|        6:40 AM| 93847| 1.085|            false|business development|          2013-04-27|  94865.23995|    2013-07-27|[null, Business D...|
+----------+------+----------+---------------+------+------+-----------------+--------------------+--------------------+-------------+--------------+--------------------+
only showing top 20 rows

25/02/05 05:00:39 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

In [59]:
df = df.filter(col("Team").isNotNull())
df_aggregated = df_aggregated.filter(col("Team").isNotNull())
from pyspark.sql.functions import trim, lower

df = df.withColumn("Team", trim(lower(col("Team"))))
df_aggregated = df_aggregated.withColumn("Team", trim(lower(col("Team"))))
df_final = df.join(df_aggregated, on="Team", how="left")
df_final.select("Team", "Avg_Salary").show()
df_final.filter(col("Avg_Salary").isNull()).show()
df_final.dropDuplicates()

25/02/05 05:26:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

+--------------------+-----------------+
|                Team|       Avg_Salary|
+--------------------+-----------------+
|             unknown|90763.13953488372|
|             finance|92219.48039215687|
|         engineering|94269.19565217392|
|             unknown|90763.13953488372|
|             finance|92219.48039215687|
|             product| 88665.5052631579|
|     human resources|90944.52747252748|
|             product| 88665.5052631579|
|             product| 88665.5052631579|
|           marketing|90435.59183673469|
|     client services|88224.42452830188|
|     client services|88224.42452830188|
|     client services|88224.42452830188|
|               legal|89303.61363636363|
|         engineering|94269.19565217392|
|             product| 88665.5052631579|
|             unknown|90763.13953488372|
|business development|91866.31683168317|
|     client services|88224.42452830188|
|business development|91866.31683168317|
+--------------------+-----------------+
only showing top 20 rows

25/02/05 05:26:32 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

+----+----------+------+----------+---------------+------+-----+-----------------+--------------------+-------------+--------------+---------+----------+------------+-------------------+
|Team|First_Name|Gender|Start_Date|Last_login_Time|Salary|Bonus|Senior_Management|Formatted_Start_Date|Total_Earning|last_Probation|Full_name|avg_Salary|Team_Members|Unique_Team_Members|
+----+----------+------+----------+---------------+------+-----+-----------------+--------------------+-------------+--------------+---------+----------+------------+-------------------+
+----+----------+------+----------+---------------+------+-----+-----------------+--------------------+-------------+--------------+---------+----------+------------+-------------------+

DataFrame[Team: string, First_Name: string, Gender: string, Start_Date: string, Last_login_Time: string, Salary: int, Bonus: double, Senior_Management: boolean, Formatted_Start_Date: date, Total_Earning: double, last_Probation: date, Full_name: array<string>, avg_Salary: double, Team_Members: array<string>, Unique_Team_Members: array<string>]

In [55]:
df.count()
# df_final.count()

25/02/05 05:16:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team
 Schema: First_Name, Gender, Start_Date, Last_login_Time, Salary, Bonus, Senior_Management, Team
Expected: First_Name but found: First Name
CSV file: file:///mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees.csv

1000

In [51]:
df_final.printSchema

<bound method DataFrame.printSchema of DataFrame[Team: string, First_Name: string, Gender: string, Start_Date: string, Last_login_Time: string, Salary: int, Bonus: double, Senior_Management: boolean, Formatted_Start_Date: date, Total_Earning: double, last_Probation: date, Full_name: array<string>, avg_Salary: double, Team_Members: array<string>, Unique_Team_Members: array<string>]>

# Save Processed Data
- Write processed data to Parquet format.

In [3]:
# df.repartition(1).write.format("parquet").mode("overwrite").save("/mount_folder/alpha/NYC_Taxi_Data_Pipeline_git/Practice/pyspark_functions/Employeee/employees_processed.parquet")

NameError: name 'df' is not defined